h2 {
  text-align: center;
  color: black;
  font-size: 40px;
}
h1 {
  font-size: 50px;
  text-align: center;
}
#menu{
  position: absolute;
  width: 100%;
  top: 20%;
}
#middle_menu {
  text-align: center;
  font-size: 30px;
  color: black;
  font-family:sans-serif;
}

#middle_menu .middle {
  margin: 30px 0 0 0;
}

input,
select {
  height: 30px;
}

nav {
  position: relative;
  top: 3%;
  background-size: cover;
  /* position: relative; */
  height: 700;
  background-color: white;
}

body {
  background: linear-gradient( to right, #cec0f1,#e3bbdd 40%,#b9dee5);;
  margin: 0;
  padding: 0;
  color: #333;
}